img {
    width: 300px;
    margin: 50px auto;
}

.box {
    position: relative;
    box-shadow: 1 px 2 px 4 px rgba(0, 0, 0, .5);
    -webkit-box-shadow: 1 px 2 px 4 px rgba(0, 0, 0, .5);
    -moz-box-shadow: 1 px 2 px 4 px rgba(0, 0, 0, .5);

    /*kokakify - something wrom video https://code.tutsplus.com/tutorials/getting-clever-with-css3-shadows--net-15991*/
    padding: 10px;
    background: white;
}

.box img {
    max-width: 100%;
    border: 1px insert #8e4419;
}

.box::after {
    content: 'cats';
    box-shadow: 100px 0 10px 20px rgba(0, 0, 0, .2);
    -webkit-box-shadow: 100px 0 10px 20px rgba(0, 0, 0, .2);
    -moz-box-shadow: 100px 0 10px 20px rgba(0, 0, 0, .2);
    position: absolute;
    width: 30%;
    height: 40px;
    bottom: 20px;
    right: 90px;
    z-index: -1;
    transform: skew(-40deg);
    -webkit-transform: skew(-40deg);
    -moz-transform: skew(-40deg);

}